{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
			<form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}

				<!-- title -->
				<div class="form-group">
					<label for="id_title">Título</label>
					<input class="form-control" type="text" name="titulo" id="id_title" placeholder="Título" required autofocus>
				</div>

				<!-- Body -->
				<div class="form-group">
					<label for="id_body">Conteúdo</label>
					<textarea class="form-control" rows="10" type="text" name="corpo" id="id_body" placeholder="Esta postagem é sobre..." required></textarea>
				</div>

				<!-- Image -->
				<div class="form-group">
					<label for="id_image">Imagem</label>
					<input  type="file" name="imagem" id="id_image" accept="image/*" required>
				</div>

				<!-- Submit btn -->
				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">POSTAR!</button>
			</form>	
		</div>
	</div>
</div>




{% endblock content %}