{% extends 'trabalho2/registro/base.html' %} {% block title %}Envio de Link{% endblock %} {% block content %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<h2>Reset de senha</h2>
<h3>Redefinição de senha enviada</h3>
<p>
    Enviamos-lhe instruções por e-mail para definir sua senha existir uma conta com o e-mail digitado. Você deve recebê-las em breve.
</p>
<p>
    Se você não receber um e-mail, verifique se digitou o endereço com o qual se registrou e verifique sua pasta de spam.
</p>
{% endblock %}