{% extends 'trabalho2/registro/base.html' %} {% block title %}Senha Criada{% endblock %} {% block content %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<h2>Senha Criada</h2>
<p>Senha criada com sucesso!</p>
<p>Click
    <a href="{%url 'sec-login'%}?next={%url 'sec-paginaSecreta'%}">
aqui</a> para fazer login.</p>
{% endblock %}