{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    Um email de redefinição de senha foi enviado, se existe uma conta com o email fornecido.
		    Você deve recebê-lo em breve.
		  </p>
		  <p class="m-auto p-2">
		    Se você não recebeu o email, por favor verifique se você digitou o email cadastrado corretamente,
		    e verifique sua caixa de spam.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'tela-inicial' %}">Retorna para a página inicial</a></p>
	</div>
</div>

{% endblock %}