<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Apaga Contato</title>
</head>

<body>
    {% include 'trabalho2/links.html' %}
    <h1>Remoção de contatos</h1>
    <form method="POST">
        {% csrf_token %} Confirma a remoção de {{ pessoa }}?<br>
        <button>
            <a href="{% url 'lista-contatos' %}"
            style="text-decoration: none; color: black;">Cancela</a>
        </button>
        <input type="submit" value="Remove">
    </form>
</body>

</html>