{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título da página</title>

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <!--<link rel="stylesheet" type="text/css" href='../../../inf1407/static/css/index.css'>-->
</head>

<body>
    <header>
        <p class="teste">teste teste teste teste</p>
        {% include 'trabalho2/links.html' %}
    </header>
    <form action="{% url 'segunda' %}">
        <input type='submit' value='Vá para segunda página' />
    </form>
</body>

</html>