{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista Contatos</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    {% include 'trabalho2/links.html' %}
    <h1>Lista de Contatos</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Salário</th>
            <th>Ações disponíveis</th>
        </tr>
        {% for pessoa in pessoas %}
        <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.idade }}</td>
            <td>{{ pessoa.salario }}</td>
            <td><a href="{% url 'atualiza-contato' pk=pessoa.id %}">Atualizar</a> |
                <a href="{% url 'apaga-contato' pk=pessoa.id %}">Excluir</a></td>
        </tr>
        {% empty %}
        <tr>
            <th colspan="5">Ainda não tem contatos cadastrados</th>
        </tr>
        {% endfor %}
    </table>
</body>

</html>